table {
    position: flex;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

ul {
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

li {
    margin: 15px;
    list-style: none;
    align-items: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

button[disabled] {
    cursor: not-allowed;
}

#welcomeplayer1,
#welcomeplayer2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif color: bisque;
    text-transform: capitalize;
    text-shadow: 1px 1px brown;
    color: white;
    .playerName: text-
}